
@{
    ViewData["Title"] = "Puzzle";
}

<h2>Puzzle</h2>

<table class="board">
    <tr>
        <td>
            <table class="cell">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            #
                        </p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell odd">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="cell odd">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell odd">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="cell">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell odd">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="cell">
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                    <td>
                        <p>#</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

